exercise7/xlink.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://www.w3.org/1999/xlink" xmlns:xlink="http://www.w3.org/1999/xlink">
  <xs:import schemaLocation="1.xsd"/>
  <xs:attribute name="href"/>
  <xs:attribute name="show" type="xs:NCName"/>
  <xs:attribute name="type" type="xs:NCName"/>
</xs:schema>
