exercise3/Task6_1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://example.org/prod2" xmlns="http://example.org/prod2">
	<xsd:element name="color" type="ColorType"/>
	<xsd:complexType name="ColorType">
		<xsd:attribute name="value" type="xsd:string" form="qualified"/>
	</xsd:complexType>
</xsd:schema>
