exercise2/channel.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!--W3C Schema generated by XMLSpy v2018 (x64) (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:complexType name="url" mixed="true"/>
	<xs:element name="url" type="url"/>
	<xs:complexType name="item">
			<xs:sequence>
				<xs:element ref="title"/>
				<xs:element ref="link"/>
				<xs:element ref="description" minOccurs="0"/>
			</xs:sequence>
	</xs:complexType>
	<xs:element name="item" type="item"/>
	<xs:complexType name="link" mixed="true"/>
	<xs:element name="link" type="link"/>
	<xs:complexType name="image">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element ref="title"/>
			<xs:element ref="link"/>
			<xs:element ref="url"/>
		</xs:choice>
	</xs:complexType>
	<xs:element name="image" type="image"/>
	<xs:complexType name="title" mixed="true"/>
	<xs:element name="title" type="title"/>
	<xs:complexType name="channel">
		<xs:sequence>
			<xs:element ref="item" maxOccurs="unbounded"/>
			<xs:element ref="title"/>
			<xs:element ref="link"/>
			<xs:element ref="language" minOccurs="0"/>
			<xs:element ref="image" minOccurs="0"/>
			<xs:element ref="description"/>
		</xs:sequence>
		<xs:attribute name="version" default="0.0"/>
	</xs:complexType>
	<xs:element name="channel" type="channel"/>
	<xs:complexType name="language" mixed="true"/>
	<xs:element name="language" type="language"/>
	<xs:complexType name="description" mixed="true"/>
	<xs:element name="description" type="description"/>
</xs:schema>
