exercise2/courseCatalogTask8.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!--W3C Schema generated by XMLSpy v2018 (x64) (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:complexType name="Course_Catalog">
		<xs:sequence>
			<xs:element ref="Department" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="Year" fixed="2017-2018"/>
	</xs:complexType>
	<xs:element name="Course_Catalog" type="Course_Catalog"/>
	<xs:complexType name="Department">
		<xs:sequence>
			<xs:element ref="Title"/>
			<xs:element ref="Course" maxOccurs="unbounded"/>
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="Professor"/>
				<xs:element ref="Lecturer"/>
			</xs:choice>
		</xs:sequence>
		<xs:attribute name="Code" type="xs:ID" use="required"/>
		<xs:attribute name="Chair" type="xs:IDREF" use="required"/>
	</xs:complexType>
	<xs:element name="Department" type="Department"/>
	<xs:complexType name="Title" mixed="true"/>
	<xs:element name="Title" type="Title"/>
	<xs:complexType name="Course">
		<xs:sequence>
			<xs:element ref="Title"/>
			<xs:element ref="Description" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="Number" type="xs:ID" use="required"/>
		<xs:attribute name="Prerequisites" type="xs:IDREFS"/>
		<xs:attribute name="Instructors" type="xs:IDREFS" use="required"/>
		<xs:attribute name="Enrollment"/>
	</xs:complexType>
	<xs:element name="Course" type="Course"/>
	<xs:complexType name="Description" mixed="true">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element ref="Courseref"/>
		</xs:choice>
	</xs:complexType>
	<xs:element name="Description" type="Description"/>
	<xs:complexType name="Courseref">
		<xs:attribute name="Number" type="xs:IDREF" use="required"/>
	</xs:complexType>
	<xs:element name="Courseref" type="Courseref"/>
	<xs:complexType name="Professor">
		<xs:sequence>
			<xs:element ref="First_Name"/>
			<xs:element ref="Middle_Initial" minOccurs="0"/>
			<xs:element ref="Last_Name"/>
		</xs:sequence>
		<xs:attribute name="InstrID" type="xs:ID" use="required"/>
	</xs:complexType>
	<xs:element name="Professor" type="Professor"/>
	<xs:complexType name="Lecturer">
		<xs:sequence>
			<xs:element ref="First_Name"/>
			<xs:element ref="Middle_Initial" minOccurs="0"/>
			<xs:element ref="Last_Name"/>
		</xs:sequence>
		<xs:attribute name="InstrID" type="xs:ID" use="required"/>
	</xs:complexType>
	<xs:element name="Lecturer" type="Lecturer"/>
	<xs:complexType name="First_Name" mixed="true"/>
	<xs:element name="First_Name" type="First_Name"/>
	<xs:complexType name="Middle_Initial" mixed="true"/>
	<xs:element name="Middle_Initial" type="Middle_Initial"/>
	<xs:complexType name="Last_Name" mixed="true"/>
	<xs:element name="Last_Name" type="Last_Name"/>
</xs:schema>